# Conclusions

Based on the failure of all three models to improve on the baseline accuracy, paired with the extremely low sensitivity scores on both training and testing images, I recommend this project be discontinued, or altered drastically. I believe the failure of these models is due largely to two factors: 1) LiDAR sensor data is a poor choice for the input image, and 2) Any differences in vacant and occupied buildings from an eagle-eye's view are slight, except for in cases of extreme damage.

There are several promising options available to alter and further develop this project. I will list them below.
1) Use satellite images in place of LiDAR sensor data.  
2) Decrease the tile size, focusing particularly on buildings that are abandoned, so that the baseline accuracy will be lower.  
3) Incorporate a two-fold ensemble model. One model predicts whether a parcel of land is abandoned from satellite imagery, while the other model predicts based off of Google Street View images from outside the residence.

In [1]:
from PIL import Image, ImageChops
import skimage
from skimage import io
import numpy as np
from sklearn.cluster import KMeans
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
import matplotlib.pyplot as plt
import pandas as pd

In [20]:
train_scores = {'acc':{'baseline': 0.9780700564358584,
                       'k_means': 0.9396706099413935,
                       'mlp': 0.9780700564358584,
                       'svm': 0.9781277132624268},
                'sens':{'baseline': np.nan,
                        'k_means': 0.0474791215589236,
                        'mlp': 0.0,
                        'svm': 0.002629137024435509}}

test_scores = {'acc':{'baseline': 0.9842461200347298,
                       'k_means': 0.9828827056652919,
                       'mlp': 0.9780700564358584,
                       'svm': 0.9781277132624268},
                'sens':{'baseline': np.nan,
                        'k_means': 0.0,
                        'mlp': 0.0,
                        'svm': 0.0}}

In [21]:
train = pd.DataFrame(train_scores)
test = pd.DataFrame(test_scores)

train['acc_pct_change'] = (train['acc'] - train.loc['baseline', 'acc']) / train.loc['baseline', 'acc']
test['acc_pct_change'] = (test['acc'] - test.loc['baseline', 'acc']) / test.loc['baseline', 'acc']

In [22]:
train

               acc      sens  acc_pct_change
baseline  0.978070       NaN        0.000000
k_means   0.939671  0.047479       -0.039260
mlp       0.978070  0.000000        0.000000
svm       0.978128  0.002629        0.000059

In [23]:
test

               acc  sens  acc_pct_change
baseline  0.984246   NaN        0.000000
k_means   0.982883   0.0       -0.001385
mlp       0.978070   0.0       -0.006275
svm       0.978128   0.0       -0.006216