# Modeling

Build x, y, and z models through a supervised learning approach.

In [ ]:
import pickle
import geopandas as gp

In [2]:
# Load the LiDAR GeoDataFrame
pickled_file = open("las_file_geodf", "rb")
lidar_gdf = pickle.load(pickled_file)
lidar_gdf

          intensity           z                    geometry
0            9216.0  227.442215  POINT (-86.12949 39.77753)
1           11264.0  227.518415  POINT (-86.12951 39.77754)
2            7424.0  227.454407  POINT (-86.12951 39.77753)
3            8704.0  227.426975  POINT (-86.12950 39.77752)
4            3584.0  238.101092  POINT (-86.12950 39.77754)
...             ...         ...                         ...
11299799    15104.0  235.046990  POINT (-86.12939 39.77754)
11299800     8448.0  227.539751  POINT (-86.12941 39.77754)
11299801     2560.0  239.369063  POINT (-86.12944 39.77754)
11299802     1536.0  240.423673  POINT (-86.12945 39.77754)
11299803     2560.0  241.746507  POINT (-86.12949 39.77754)

[11299804 rows x 3 columns]

In [8]:
# Abandoned building data is stored here
base_path = './training_data/abandoned_and_vacant/'

# Abandoned building shapefile
gdf_abandoned = gp.read_file(base_path + 'Abandoned_And_Vacant_Housing.shp', crs='EPSG:4326')

# Filter for abandoned buildings within the satellite image
x_abandoned = gdf_abandoned['geometry'].representative_point().x
y_abandoned = gdf_abandoned['geometry'].representative_point().y

# Bounds for LiDAR tile
x_min, x_max, y_min, y_max = -86.14016495696444, -86.12228581315563, 39.76377561875412, 39.777572323113745

x_valid = (x_abandoned > x_min) & (x_abandoned < x_max)
y_valid = (y_abandoned > y_min) & (y_abandoned < y_max)

gdf_abandoned_filtered = gdf_abandoned.loc[x_valid & y_valid, :].copy().reset_index(drop=True)

In [10]:
gdf_abandoned_filtered.loc[:, ['STATUS', 'geometry']]

        STATUS                                           geometry
0    Abandoned  POLYGON ((-86.12436 39.76983, -86.12436 39.769...
1       Vacant  POLYGON ((-86.13149 39.76871, -86.13162 39.768...
2    Abandoned  POLYGON ((-86.12557 39.77226, -86.12603 39.772...
3    Abandoned  POLYGON ((-86.12536 39.77296, -86.12489 39.772...
4    Abandoned  POLYGON ((-86.12438 39.77341, -86.12484 39.773...
..         ...                                                ...
140  Abandoned  POLYGON ((-86.12996 39.76401, -86.12995 39.763...
141  Abandoned  POLYGON ((-86.12677 39.76458, -86.12677 39.764...
142  Abandoned  POLYGON ((-86.12362 39.77498, -86.12315 39.774...
143     Vacant  POLYGON ((-86.12695 39.76920, -86.12730 39.769...
144     Vacant  POLYGON ((-86.12245 39.77295, -86.12294 39.772...

[145 rows x 2 columns]

In [ ]:
# import segmentation_models as sm